{% extends "base_classification.html" %}
{% load staticfiles %}

{% block title %}
Classify your article
{% endblock %}

{% block sources %}
<link href="{% static "dist/css/factors_classification.css" %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#copy" data-toggle="tab" aria-expanded="true">Copy Over</a>
            </li>
            <li>
                <a href="#file" data-toggle="tab" aria-expanded="true">Send Over</a>
            </li>
            <li>
                <a href="#url" data-toggle="tab" aria-expanded="true">URL</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="copy" class="tab-pane fade active in"> 
                <form action='{% url 'classifier:classify_article' %}' method='POST' role="form">
                    {% csrf_token %}
                    <h4>Show us your article</h4>
                    <div class="form-group">
                        <textarea name='article-text' class="form-control" placeholder="Paste your article here..."></textarea>
                    </div>
                    <button type='submit' name='article-type' value='article-text' class='btn btn-outline btn-primary btn-lg btn-block'>Classify</button>
                </form>
            </div>
            <div id="file" class="tab-pane fade">
                <form action='{% url 'classifier:classify_article' %}' method='POST' role="form">
                    {% csrf_token %}
                    <h4>Send us your article</h4>
                    <div class="form-group">
                        <input name='article-file' type="file"/>
                    </div>
                    <button type='submit' name='article-type' value='article-text' class='btn btn-outline btn-primary btn-lg btn-block'>Classify</button>
                </form>
            </div>

            <div id="url" class="tab-pane fade">
                <form action='{% url 'classifier:classify_article' %}' method='POST' role="form">
                    {% csrf_token %}
                    <h4>Link us up</h4>
                    <div class="form-group">
                        <input name='article-url' type='text' placeholder='Paste your article URL here' class='form-control' id='article-url'/>
                    </div>
                    <button type='submit' name='article-type' value='Classify' class='btn btn-outline btn-primary btn-lg btn-block'>Classify</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
