{% extends "base_factors_trainer.html" %}

{% block title %}
<h1>{{ topic_name }} Factors Listing</h1>
{% endblock %}

{% block content %}
<h3> Count: {{ factors.count }} </h3>
<div id='factors' class='container'>
    {% for factor in factors %}
    <div class='row'>
        <div class='col-md-9'>{{ factor.factor }}</div>
        <div class='col-md-3'>
            <form action="{% url 'factors_trainer:update_factor' factor.id %}" method="POST">
                {% csrf_token %}
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="checkbox" name="sentiment" value='Yes' autocomplete="off"/> Yes
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" name="sentiment" value='No' autocomplete="off"/> No
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" name="sentiment" value='Neutral' autocomplete="off"/> Neutral
                    </label>
                </div>
            </form>
        </div>
    </div>
    <hr/>
    {% endfor %}
</div>
{% endblock %}

