{% extends "base_factors_trainer.html" %}
{% load staticfiles %}

{% block title %}
{{ topic_name }} Factors Listing
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-lg-12'>
        <table id='factors-table' class='table table-bordered table-striped table-hover display' cellspacing='0' width='100%'>
            <thead>
                <tr>
                    <th> Factor </th>
                    <th> Sentiment option </th>
                </tr>
            </thead>
            <tbody>
                {% for factor in factors %}
                <tr>
                    <td> {{ factor.factor }} </td>
                    <td> 
                        <form class='text-center' style='width:180px' action="{% url 'factors_trainer:update_factor' factor.id %}" method="POST">
                            {% csrf_token %}
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline btn-primary">
                                    <input type="checkbox" name="sentiment" value='Yes' autocomplete="off"/> Yes
                                </label>
                                <label class="btn btn-outline btn-primary">
                                    <input type="checkbox" name="sentiment" value='No' autocomplete="off"/> No
                                </label>
                                <label class="btn btn-outline btn-primary">
                                    <input type="checkbox" name="sentiment" value='Neutral' autocomplete="off"/> Neutral
                                </label>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block sources %}
<script src="{% static "javascripts/factors_trainer.js" %}"></script>
{% endblock %}
