{% extends "base_factors_trainer.html" %}

{% block title %}
Factors Report - Topics Selection
{% endblock %}

{% block content %}
<div class='col-lg-12'>
    <table id='topics-table' class='table table-bordered table-striped table-hover display' cellspacing='0' width='100%'>
        <thead>
            <tr>
                <th> Topic </th>
            </tr>
        </thead>
        <tbody>
            {% for topic in topics %}
            <tr>
                <td> <a href='{{ topic.topic }}'>{{ topic.topic }} </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block sources %}
<script>
    $(document).ready(function() {
        $('#topics-table').DataTable();
    });
</script>
{% endblock %}
