{% extends "base_factors_trainer.html" %}

{% block title %}
{{ topic.title }}: Sentiment Selection
{% endblock %}

{% block content %}
<div class='col-lg-12'>
    <table id='sentiments-table' class='table table-bordered table-striped table-hover display' cellspacing='0' width='100%'>
        <thead>
            <tr>
                <th> Sentiment </th>
            </tr>
        </thead>
        <tbody>
            {% for sentiment in sentiments %}
            <tr>
                <td> <a href='{{ sentiment }}'>{{sentiment }} </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block sources %}
<script>
    $(document).ready(function() {
        $('#sentiments-table').DataTable();
    });
</script>
{% endblock %}
